footer{
     background-color: darkviolet;
     color: white;
     padding: 30px;
    width: 100%;
    float: right;
}
footer p{
     color: white;
     font-weight: bolder;
     margin-left: 100px;
}