body {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


header {
    background-color: blueviolet;
    padding: 20px ;  
}


nav {
    display: flex;
    align-items: center;
    gap: 40px;
   
}

.logotipo {
    width: 50px;
    height: 50px;
    margin-left: 100px;
    overflow: hidden;
}

.logo img {
    width: 100%;
    height: 100%;
    transition: transform 1s;
}






.Links {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 30px;
}

/* Responsivo */


/* Responsivo */



.Links a {
    text-decoration: none;
    color: white;
    padding: 10px;
    align-items: center;
    display: flex;
    transition: color 0.5s;
}

.Links a:hover {
    color: rgba(255, 255, 255, 0.686);

}



.watsapp {
    border: 1px solid rgb(13, 216, 94);
    padding: 15px;
    width: 12%;
    height: 20%;
    border-radius: 40px;
    background-color: transparent;
    transition: background 1s;
}

.watsapp:hover {
    background-color: rgb(13, 216, 94);
}


.watsapp icon {
    margin-left: 20px;
}

button {
    display: none;
    background-color: transparent;
    outline: none;
    color: white;
    font-size: 30px;
    border: none;
    cursor: pointer;

}
 









@media (max-width: 1250px) {

  

    .Links {
        display: none;
    }

    .watsapp {
        border: 1px solid rgb(13, 216, 94);
        padding: 15px;
        width: 80%;
        height: 20%;
        border-radius: 40px;
        background-color: transparent;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    button {
        display: flex;
        align-items: center;

        justify-content: right;
        background-color: transparent;
        outline: none;
        color: white;
        font-size: 30px;
        border: none;

        margin-left: 30px;

        width: 100%;


    }

      #fechar {
        display: none;
        color: red;
        justify-content: right;
    } 
    


    .logotipo {
        width: 50px;
        height: 50px;
        margin-left: 10px;
        overflow: hidden;
    }

    .logo img {
        width: 100%;
        height: 100%;
        transition: transform 1s;
    }


    #Responsivo {
        width: 100%;
        position: absolute;
        top: 90px;
        display: none;
        align-items: flex-start;
        justify-content: right;
        gap: 30px;
        background-color: blueviolet;
        margin: auto;
        padding: 10px;
    }

    #Responsivo a {
        text-decoration: none;
        color: white;
        padding: 10px;
        align-items: center;
        display: block;
        transition: color 0.5s;
        margin: auto;
        text-align: center;
    }

    #Responsivo div {
        background-color: rgb(3, 3, 43);
        width: 50%;
        margin: auto;
        border-radius: 10px;
        padding: 20px;
    }


}

@media (min-width:1249px) {
    button {
        margin-left: 100px;
        position: absolute;
        top: -11111px;

    }

    #Responsivo {
        margin-left: 100px;
        position: absolute;
        top: -11111px;

    }
}