
 
.slider{
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
    
}
.slides{
    width: 100%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}
slide{
    width: 25%;
    position: relative;
    transition:  2s;
}
#slide img{
    width: 25%;
}
.manual-navigation{
    position: absolute;
    width: 100%;
    margin-top: 21px ;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
    transition:  1s;
}

#radio2:checked ~ .first{
    margin-left: -25%;
    transition:  1s;
}
#radio3:checked ~ .first{
    margin-left: -50%;
    transition:  1s;
}
#radio4:checked ~ .first{
    margin-left: -75%;
    transition:  1s;
}

#Navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
#Navigation-auto{
 position: absolute;
 width: 100%;
 margin-top:420px ;
 display: flex;
 justify-content: center;
}

#Navigation-auto div:not(:last-child){
 margin-right: 38px;
}

#radio1:checked ~ #Navigation-auto .auto-btn1{
    background-color: blue;   
}
#radio2:checked ~ #Navigation-auto .auto-btn2{
    background-color: blue;   
}
#radio3:checked ~ #Navigation-auto .auto-btn3{
    background-color: blue;   
}
#radio4:checked ~ #Navigation-auto .auto-btn4{
    background-color: blue;   
}
